._phantom-limb,
._phantom-limb a {
	cursor: none !important;
}

._phantom-limb ._phantom-limb_finger {
	background: rgba(128, 128, 128, 0.5);
	border: 2px solid rgb(128, 128, 128);
	border-radius: 50%;
	height: 44px;
	margin: -22px 0 0 -22px;
	pointer-events: none;
	position: fixed;
	width: 44px;
}
